sudo: false

language: perl

addons:
  apt:
    packages:
      - ttf-dejavu

perl:
  - "5.24"
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
  - "5.8"

before_install:
    - cpanm -n Dist::Zilla::App::Command::cover
    - cpanm -n Devel::Cover::Report::Coveralls

install:
    - dzil authordeps --missing | cpanm --no-skip-satisfied || { cat ~/.cpanm/build.log ; false ; }
    - dzil listdeps --author --missing | cpanm --no-skip-satisfied || { cat ~/.cpanm/build.log ; false ; }

script:
    - dzil test --author --release
    - dzil cover -report coveralls
